$bgcStopwatch: rgb(21, 20, 20)

body
    background-color: #f8f8ff
    font-family: 'Jost', sans-serif
h1
    font-size: 70px
    font-weight: 600
    margin-bottom: 5px
    display: flex
    justify-content: center

.return_main
    margin: 20px 20px
    width: 100%
    background-color: $bgcStopwatch
    position: relative
    transform: rotate(-90deg)
.return_a
    display: flex
    width: 7%

.header
    display: flex

// index.html

.projects_cards
    display: flex
    justify-content: center
    flex-wrap: wrap
.card
    border-radius: 10px
    width: 100%

.click_card
    margin-left: 10px
    display: flex
    flex-direction: column
    align-items: center
    max-width: 10%
    max-height: 10%
    text-decoration: none
    color: white
    background-color: black
    font-size: 20px
    font-weight: bold
    border: 1px solid black
    padding: 0px
    border-radius: 10px
/* Секундомер */
.general
    padding-bottom: 10px
    align-items: center
    display: flex
    flex-direction: column
    color: white
    margin-top: 9%

.stopwatch_bgc
    background-color: $bgcStopwatch

.inputLi
    list-style-type: none
    font-size: 24px
    padding: 0px

.counter
    text-align: center
    font-size: 100px
    line-height: 80px
    height: 80px
    margin-bottom: 20px

.allButton
    display: flex
    flex-direction: row

.button
    width: 150px
    height: 50px
    margin-right: 10px
    position: relative
    border-radius: 15px

.button:active
    background-color: #FFFACD

.interval
    margin-top: 20px

.view
    display: block

.hide
    display: none

.swopwatch_h1
    color: white
    display: flex
    width: 86%
    margin: auto
.stopwatch_swap
    width: 7%
// Таймер
#counter
    display: flex
    flex-direction: column
    align-items: center
.timer__counter
    display: flex
    width: 100%
    height: 500px

    justify-content: center

    align-items: center
    background-color: black
.numberCounter
    width: 80px
    height: 90px
    border: 1px solid black
    border-radius: 10%
    background-color: white
    display: flex
    justify-content: center
    align-items: center
    margin-left: 20px
    box-sizing: border-box

.timeIdentf
    margin-left: 20px
    color: white
    display: flex
    justify-content: center
    align-items: center
.timer__counter span
    font-size: 60px
    color: black

//слайдер
.flex
    display: flex
    justify-content: center

.img_slider
    width: 250px
    height: 200px

//todoapp

.todo
    display: flex
    flex-direction: row
    &__input

    &__text

    &__add

    &__options
[data-todo-option="active"] .todo__item:not([data-todo-state="active"]),
[data-todo-option="completed"] .todo__item:not([data-todo-state="completed"]),
[data-todo-option="deleted"] .todo__item:not([data-todo-state="deleted"])
    display: none
[data-todo-state="active"] .todo__action_restore,
[data-todo-state="completed"] .todo__action_complete,
[data-todo-state="deleted"] .todo__action_complete
    display: none
